@font-face {
  font-family: "vazirmatn";
  src: url("./app/fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap; /* Recommended for better performance */
}

body {
  font-family: "vazirmatn", sans-serif;
}
