@font-face {
  font-family: "peyda";
  src: url("./app/fonts/PEYDA-MEDIUM.TTF") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap; /* Recommended for better performance */
}

*,
body,
button,
input,
select,
textarea,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  font-family: "peyda", sans-serif !important;
}

.font-mono {
  font-family: "peyda", sans-serif !important;
  font-feature-settings: "tnum" 1;
}
