# Environment Variables Example

NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gcloud?schema=public"

# Redis (Queues)
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS Origins
CORS_ORIGINS="http://localhost:3000,http://localhost:5173,http://localhost:5174"

# Auth Session Secret (Minimum 32 characters)
SESSION_SECRET="super-secret-development-session-key-must-be-32-chars-long"
SESSION_COOKIE_NAME="gecut_session"
SESSION_TTL_SECONDS=604800

# Kavenegar SMS Gateway
KAVENEGAR_API_KEY=46437751615871547A59364B75376339706E72384266734A596F3476644B653641356171462F557A5747383D
KAVENEGAR_OTP_TEMPLATE=gcotp

# Dokploy & Deployment Settings
TAG=0.4.23
SERVER_DOMAIN=192.168.43.134:3000
ADMIN_DOMAIN=admin.app.gecut.ir
CUSTOMER_APP_DOMAIN=app.gecut.ir
